/* remove drag from interactables */
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
	-webkit-app-region: no-drag !important;
}

/* Login - Get Apps Section */
.APQi1{
  display: none;
}

/* Login Body */
/* .SCxLW{
  -webkit-app-region: drag;
} */

/* Login - Footer Section */
._8Rna9{
  display: none;
}

/* Login - Left App Image Preview */
.yOZjD{
  display: none; !important
}

/* dashboard-toolbar */
.MWDvN{
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

/* dashboard-icons buttons
  Disable drag otherwise clicking results in window dragging
*/

/* Search bar: disable dragging to make text selectable*/
.LWmhU{
  -webkit-user-select: text;
  -webkit-app-region: no-drag;
}

/* search bar pop up */
.drKGC{
  margin-top: 30px;
}

/* navigation bar (icons) */
.MWDvN{
  margin-top: 15px;
}

/* nav bar (background) */
._lz6s{
  height: 70px !important;
  -webkit-app-region: drag;
}

/* Logo */
.s4Iyt{
  float: left;
  -webkit-app-region: no-drag;
}

/* right side bar content (suggestions etc) */
.COOzN{
  -webkit-app-region: no-drag;
  display: none;
}

/* main content */
.cGcGK{
  -webkit-app-region: no-drag;
  margin: auto !important;
  float: none !important;
  max-width: none !important;
}

/* home icon */
._8-yf5 {
  -webkit-app-region: no-drag;
}

/* user icon */
._2dbep{
  -webkit-app-region: no-drag;
}
