.body{
  -webkit-app-region:drag;
}

/* Login - Get Apps Section */
.APQi1{
  display: none;
}

/* Login - Footer Section */
.iseBh.VWk7Y{
  display: none;
}

/* Login - Left App Image Preview */
.y0ZjD._80tAB{
  display: none;
}
